/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
	background-color: #feebef;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
	
  position: relative;
  width: 100%;
}

@media (min-width: 960px) {
  .header {
    width: 100%;
    min-height: 110px;
  }

  .header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 940px;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}


.header__container {
	position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 22px 0;
  padding-bottom: 25px;
}

@media (min-width: 660px) {
  .header__container {
    display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		list-style: none;
		margin: 0;
		padding: 22px 0;
		padding-bottom: 25px;
  }
}

@media (min-width: 960px) {
  .header__container {
    padding: 0;
    
    padding-top: 15px;
    width: 147px;
    height: 41px;
  }
}

.header__logo {
  display: inline-block;
  padding-left: 20px;
  text-decoration: none;
}

@media (min-width: 960px) {
  .header__logo {
    padding-left: 0;
  }
}

.header__nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 10px;
	margin-left: 30px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.header__nav_link {
	margin-left: 40px;
	font-size: 14px;
	text-align: center;
}

.popular-pop {
	position: relative;
}

.popular-pop::before {
	content: "";
	position: absolute;
	width: 100%;
	top: -5px;
	height: 3px;
	background-color: #e25a76;
	
}
.popular-fresh {
	position: relative;
	font-weight: 400;
}

.popular-fresh::before {
	content: "25";
	font-size: 11px;
	bottom: 2px;
	position: absolute;
	width: 20px;
	background-color: #e25a76;
	right: -25px;
	color: #fff;
	border-radius: 2px;
}

.popular-blog {

}

.popular-blog__btn {
	font-family: Roboto;
	color: #e25a76;
	padding: 6px 0;
	width: 68px;
	border-radius: 4px;
	background-color: transparent;
	border: solid 1px rgba(226, 90, 118, 0.28);
	cursor: pointer;
}

.popular {
	margin-right: auto;
}

.search-btn {
	margin-right: 50px;
}

.search-write__btn {
	font-family: Roboto;
	font-weight: 500;
	width: 95px;
	background-color: #fff;
	border: solid 1px #f5c6cf;
	border-radius: 4px;
	padding: 6px 0;
}


.sp__wrapper {
	width: 100%;
	margin: 0 auto;
	padding: 40px 49px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	background: 
	url(assets/bitmap_2.png) -94% 118% no-repeat local,
	url(assets/bitmap_3.png) 96% 0% no-repeat local,
	url(assets/bitmap_4.png) -38% 64% no-repeat local,
	url(assets/bitmap.jpg) no-repeat;
	background-size: auto,auto,auto, cover;
	-webkit-box-shadow: 0 30px 40px 0 rgba(133, 73, 86, 0.21), 0 0 4px 0 rgba(0, 0, 0, 0.09);
	        box-shadow: 0 30px 40px 0 rgba(133, 73, 86, 0.21), 0 0 4px 0 rgba(0, 0, 0, 0.09);
}

.sp__title {
	width: 200px;
	font-size: 25px;
	font-weight: 900;
}

@media (min-width: 660px) {
	.sp__wrapper {
		width: 1057px;
		background: 
		url(assets/bitmap_2.png) 85% 50% no-repeat fixed,
		url(assets/bitmap_3.png) 66% 20% no-repeat fixed,
		url(assets/bitmap_4.png) 45% 50% no-repeat fixed,
		url(assets/bitmap.jpg) no-repeat;
		background-size: auto,auto,auto, cover;
	}

	.sp__title {
		width: 484px;
		font-size: 34px;
		
	}
}



.sp__text {
	font-size: 18px;
	font-weight: 400;
}

.sp__btn {
	font-family: Roboto;
	font-size: 20px;
	font-weight: 700;
	padding: 14px 0;
	margin-top: 207px;
	width: 146px;
	background-color: #fff;
	border-radius: 2px;
	-webkit-box-shadow: 0 15px 22px 0 rgba(121, 54, 68, 0.23);
	        box-shadow: 0 15px 22px 0 rgba(121, 54, 68, 0.23);
	cursor: pointer;
}


.test {
	width: 100%;
	margin: 0 auto;
	padding: 40px 20px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: url(assets/bitmap.jpg) no-repeat ;
	background-size: cover;
	-webkit-box-shadow: 0 30px 40px 0 rgba(133, 73, 86, 0.21), 0 0 4px 0 rgba(0, 0, 0, 0.09);
	box-shadow: 0 30px 40px 0 rgba(133, 73, 86, 0.21), 0 0 4px 0 rgba(0, 0, 0, 0.09);
}


.test__title {
	width: 250px;
	font-size: 25px;
}

.test__item {
	background-color: #fff;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 9px;
	border-radius: 2px;
  border: solid 1px #edcdd3;
	padding: 15px 10px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	cursor: pointer;
}

.test__btn {
	width: 121px;
  font-family: Roboto;
  font-size: 20px;
	font-weight: 700;
	margin-top: 20px;
	border: 0;
	background-color: transparent;
	cursor: pointer;
}

@media (min-width: 660px) {
	.test {
		width: 1057px;
		padding: 40px 281px;
	}
		
	.test__title {
		width: 498px;
		font-size: 26px;
	}

	.test__item {
		padding: 16px 25px;
	}

	.test__btn {
		margin-top: 80px;
	}
}

.test__list {
	padding: 0;
}



.test__item-right {
	font-weight: 700;
	color: #43a457;
	border: solid 2px #43a457
}

.test__item-wrong {
	font-weight: 700;
	color: #e25a76;
	border: solid 2px #e25a76;
}

.test__description {
	line-height: 23px;
	font-size: 16px;
	font-weight: 400;
	margin-top: 30px;
}



.test__final {
	width: 1057px;
	margin: 0 auto;
	padding: 40px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	background: url(assets/bitmap.jpg) no-repeat ;
	-webkit-box-shadow: 0 30px 40px 0 rgba(133, 73, 86, 0.21), 0 0 4px 0 rgba(0, 0, 0, 0.09);
	        box-shadow: 0 30px 40px 0 rgba(133, 73, 86, 0.21), 0 0 4px 0 rgba(0, 0, 0, 0.09);
}

.test__final_wrapper {
	min-height: 300px;
	width: 100%;
	font-size: 36px;
	line-height: 42px;
	font-weight: 900;
	background-repeat: no-repeat;
	background-position: 100% 20%;
}

.test__final_list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.test__final_text {
	width: 330px;
}